$white-primary-color: #fff;
$border-primary-color: #eaeaea;
$grey-primary-color: #777;
$grey-secondary-color: #555;
$black-primary-color: #222;
$input-border-color: #bbb;
$red-primary-color: red;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
