$white-primary-color: #fff;
$border-primary-color: #eaeaea;
$grey-primary-color: #777;
$grey-secondary-color: #555;
$black-primary-color: #222;
$input-border-color: #bbb;
$red-primary-color: red;
$grey-header-text-color: #9D9D9D;
$border-top-color: #e8e8e8;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
