<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("app.name"), "/", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.title"), "/" %></li>
        <li><%= link_to t("static_pages.help.title"), help_path %></li>
        <li><%= link_to t("users.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
